.App {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.content {
  margin-top: 70px;
  margin-bottom: 50px;
  overflow-y: auto;
  flex: 1;
  transition: all 0.3s ease;
}

.container {
  padding: 0px;
  transition: all 0.3s ease;
  max-width: 100% !important;
}